<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link
          href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous"
    >
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="main.html">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container my-3">
 <h1>Романтика на Олимпиаде в Париже</h1>
 </div>
<div class="container my-8">
<div class="row">
 <div class="col-12">
  <img src="https://img.inform.kz/kazinform-photobank/media/2024-08-07/9938491e-8172-4629-b57d-9c1d708f31fc.webp" alt="Описание картинки" style="max-width: 100%; height: auto;">
 </div>
</div>
</div>
<div class="container my-3">
 <h2><strong>Хуан Яцюн и Лю Юйчэнь</strong></h2>
    <div class="row">
        <div class="col-7">
            <p>Хуан Яцюн завоевала золотую медаль на турнире по бадминтону в миксте 2 августа. После церемонии награждения, китайский бадминтонист Лю Юйчэнь подарил ей огромный букет цветов и встав на одно колено, сделал предложение.</p>
            <p>На сайте Олимпийских игр сообщалось, что Хуан сказала следующее после этого момента: «Я не могу описать свои чувства, потому что я счастлива, счастлива, счастлива. Завоевание золотой медали — это признание нашего пути.»</p>
        </div>
        <div class="col-5">
            <img src="https://img.inform.kz/kazinform-photobank/media/2024-08-07/5b16c72b-25af-4d5c-a9b2-949713ded46c.webp" alt="Описание картинки" style="max-width: 85%; height: auto;">
        </div>
    </div>
 </div>
</body>
</html>